@import '../setup/variables';

@import '../setup/mixins';

.profileHeader {
    position: relative;
    margin-bottom: 40px;
    border-radius: 0 0 8px 8px;
    box-shadow: $shadow-profileHeader;
    background: #fff;

    &__wrapper {
        @include wrapper;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 24px;
    }
}

.profileLogo {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 14px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba($theme, .15), $theme);

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: #fff;
        content: '';
        transform: translate(-50%,-50%);
    }

    &__img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 50px;
        min-width: 50px;
        height: 50px;
        min-height: 50px;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(#270c50, .25);
        background: rgba($theme, .75);
        transform: translate(-50%,-50%);
    }
}

.profileName {
    margin-bottom: $sps / 2;
    font-weight: bold;
    font-size: 1.8rem;
}

.profileLabel {
    padding: 3px 6px;
    border-radius: 8px;
    background: rgba($theme, .05);
    font-size: 1rem;
}

.profileTabs {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 14px;

    &__item {
        flex: 1 1 0;
        padding: 14px 0;
        border-radius: 8px;
        color: $text-light;
        font-weight: bold;
        font-size: 1.4rem;
        text-align: center;
        cursor: pointer;

        // &:hover {
        //     color: $theme;
        //     background: rgba($theme, .05);
        // }

        &.isActive {
            color: $theme;
        }
    }
}

.tabContent {
    margin: 14px;
}

.shortInfo {
    display: flex;
    margin-bottom: $sps * 2;

    &__item {
        flex: 1 1 0;
        text-align: center;

        &__score {
            margin: 0 auto 4px;
            color: $theme;
            font-weight: bold;
            font-size: 1.6rem;
        }

        &__name {
            margin: auto;
            font-size: 1.2rem;
        }
    }
}

.compInfo {
    &__ttl {
        margin: 0 auto $sps;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
    }

    &__row {
        display: flex;
        margin: 0 -10px;
    }
}

.compCard {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    margin: 0 10px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: $shadow3-1;
    background: #fff;
    font-weight: bold;

    &__roleIcon {
        margin-bottom: 8px;

        svg {
            width: 30px;
        }
    }

    &__role {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        padding-bottom: 4px;
        border-bottom: 2px solid $bg-color;
        font-size: 1.2rem;
        text-align: center;
        text-transform: capitalize;
    }

    &__level {
        color: $theme;
        font-size: 1.4rem;
    }
}

.json {
    font-size: .1rem;
}

.ratingClass {
    width: 100%;
    max-width: 30px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.isLoading {
    $bg: rgba($theme, .2);
    // $bg: #cabcef;
    $bg2: rgba($theme, .4);
    // $bg2: #bdade9;
    position: relative;
    background: #f6f7f8;
    background: $bg;
    background: linear-gradient(to right, $bg 8%, $bg2 18%, $bg 33%);
    background-size: 800px 104px;
    animation-name: placeHolderShimmer;
    animation-duration: 1.25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.dummyBlock {
    border-radius: 8px;
    color: transparent;
}

.slide-leave-active,
.slide-enter-active {
    transition: all .35s cubic-bezier(.25, .46, .45, .94);
}

.slide-enter {
    opacity: 0;
    transform: translate(0, 10px);
}

.slide-leave-to {
    opacity: 0;
    transform: translate(0, -10px);
}
