.link {
    cursor: pointer;
    &-continue {
        font-size: 1.2rem;
        text-decoration: underline;
        transition: .25s color ease-in-out;
        &:hover {
            color: #eee7ff;
        }
    }
}