* {
  margin: 0;
  padding: 0;
}

html,
body {
  @include height-overflow;
}

body {
  // color: var(--app-text-color);
  // background-color: var(--app-background-color);
  // font-family: 'Comfortaa', cursive;
  // font-size: 14px;
  // font-size: 1.4rem;
  font-variant-numeric: proportional-nums;
  -webkit-font-feature-settings: 'pnum';
  font-feature-settings: 'pnum';

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


#app {
  height: 100%;
  overflow: hidden;
}