* {
    margin: 0;
    padding: 0;
}

html,
body,
.appContainer {
    @include height-overflow;
}

body {
    font-variant-numeric: proportional-nums;
    -webkit-font-feature-settings: 'pnum';
            font-feature-settings: 'pnum';

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.appContainer {
    overflow: hidden;

    &.layout-default {
        color: $text-color;
        background: $bg-color;
    }

    .wrapper {
        position: relative;
        width: $wrap-width;
        max-width: 100%;
        height: 100%;
        margin: auto;
    }

    .outherWrap {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        .pageContent {
            @include height-overflow;
            position: relative;

            &:after {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                visibility: hidden;
                background: rgba(darken($theme, 55%), .5);
                opacity: 0;
                content: '';
                transition: all .35s ease-in-out;
                z-index: 100;
            }
        }
        &.isPaused > div {
            overflow-y: hidden !important;

            &:after {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.pageCore {
    position: relative;
    margin: 0 auto 20px;
    padding-bottom: $l-py;

    &--hasBG {
        box-shadow: $shadow3-1;
        background: #fff;
    }

    &__wrap {
        @include wrapper;
    }
}


// display
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

// aligns
.u-tac {
    text-align: center;
}

.u-tal {
    text-align: left;
}

.u-tar {
    text-align: right;
}

// margins
@include spacing('m', 'margin', 'auto');
@include spacing('mt', 'margin-top', 5);
@include spacing('mb', 'margin-bottom', 5);
@include spacing('ml', 'margin-left', 5);
@include spacing('mr', 'margin-right', 5);
// paddings
@include spacing('pt', 'padding-top', 5);
@include spacing('pb', 'padding-bottom', 5);
@include spacing('pl', 'padding-left', 5);
@include spacing('pr', 'padding-right', 5);
