@font-face {
    font-family: 'Comfortaa';
    font-weight: 400;
    src: local('Comfortaa'), url(~@/assets/fonts/Comfortaa[wght].ttf) format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    font-weight: 700;
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url(~@/assets/fonts/Comfortaa[wght].ttf) format('truetype');
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-size: 1.4rem;
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
}

// html {
//     font-size: 62.5%;

//     /* 62.5% of 16px = 10px */

//     @media (min-width: 20rem) {
//         /* 20*16px = 320px */
//         background-color: lemonchiffon;
//         font-size: 200%;
//         /* 200% of 16px = 32px */
//     }

//     @media (min-width: 30em) {
//         /* 30*16px = 480px */
//         background-color: lightblue;
//         font-size: 300%; /* 300% of 16px = 30px */
//     }
// }
