// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;
// Colors
$main: #7B4BFF;
$dark: #242D44;
$gray: #AFB2BC;
$gray2: #d7d8dd;
$light: #F3F6FF;
$light2: #F0F0F2;
$green: #19CF36;
$danger: #E51B1B;
// Theme
$theme: $main;
$text-color: $dark;
$text-light: $gray;
$bg-color: $light;
$hr: $light2;
$error-color:$danger;
$success-color:$green;
$neutral-color:$dark;
$unactive-color:$gray2;
//
$sps: 14px;
$l-px: $sps;
$l-py: 20px;
$padding: $l-py $l-px;
$padding-card: 30px 20px;
//
$radius: 8px;
// Shadows
$shadow1: 0 4px 6px rgba(50, 50, 93, .11),
0 1px 3px rgba(0, 0, 0, .08);
$shadow2: 0 13px 27px -5px rgba(50, 50, 93, .25),
0 8px 16px -8px rgba(0, 0, 0, .3),
0 -6px 16px -6px rgba(0, 0, 0, .025);
$shadow3: 0 0px 30px 30px rgba(50, 50, 93, .03),
0 0px 18px 50px rgba(0, 0, 0, .01);
$shadow3-1: 0 0px 30px 0px rgba(50, 50, 93, .03),
0 0px 18px 0px rgba(0, 0, 0, .01);
$shadow4: 0 0px 30px 30px rgba(50, 50, 93, .03),
0 -18px 50px 50px rgba(0, 0, 0, .025);
$shadow-card: $shadow1;
$shadow-pageHeader: $shadow1;
$shadow-navigation: $shadow4;
$wrap-width: 756px;
// $font-size-base: 1rem !default;
// $font-size-lg: $font-size-base * 1.25 !default;
// $font-size-sm: $font-size-base * .875 !default;