// Colors
$color-main: #7b4bff;
$color-dark: #242d44;
$color-green: #19cf36;
$color-danger: #e51b1b;
$color-gray: #afb2bc;
$color-silver: #d7d8dd;
$color-light: #f0f0f2;
$color-lighter: #f3f6ff;

// Theme
$theme-color: $color-main;
$text-color: $color-dark;
$text-light: $color-gray;
$bg-color: $color-lighter;
$hr-color: $color-light;
$error-color: $color-danger;
$success-color: $color-green;
$neutral-color: $color-dark;
$inactive-color: $color-silver;

// Spacing
$indent: 14px;
$spacing-x: $indent;
$spacing-y: $indent + 10;
$padding: $spacing-y $spacing-x;
$l-px: $indent;
$padding-card: 30px 20px;

// Borders
$border-radius: 8px;

// Shadows
$shadow-1: 0 4px 6px rgba(50, 50, 93, .11),
0 1px 3px rgba(0, 0, 0, .08);
$shadow-2: 0 13px 27px -5px rgba(50, 50, 93, .25),
0 8px 16px -8px rgba(0, 0, 0, .3),
0 -6px 16px -6px rgba(0, 0, 0, .025);
$shadow-3: 0 0 30px 30px rgba(50, 50, 93, .03),
0 0 18px 50px rgba(0, 0, 0, .01);
$shadow-3-1: 0 0 30px 0 rgba(50, 50, 93, .03),
0 0 18px 0 rgba(0, 0, 0, .01);
$shadow-4: 0 0 30px 30px rgba(50, 50, 93, .03),
0 -18px 50px 50px rgba(0, 0, 0, .025);
$shadow-card: $shadow-1;
$shadow-pageHeader: $shadow-1;
$shadow-profileHeader: $shadow-3;
$shadow-navigation: $shadow-4;

// Layout
$wrapper-width: 756px;

// Animation, Transitions
$transition-default: .25s all ease-in-out;
